- employments = Employment.with_employees_for_project(@cms_page)

.section-group#staff
  - employments.each do |employment|
    %section.group.staff
      = link_to employment.employee.url do
        - if cms_block_content(:photo, employment.employee)
          = image_tag cms_block_content(:photo, employment.employee).file.url
      = link_to employment.employee.url do
        %h4= cms_block_content(:name, employment.employee)
      %p= employment.role
