%div{:class => "container dashboard", "ng-app" => "stats"}

  %header{:class => "dashboard-title", "ng-controller" => "GeoIpCtrl", "ng-model" => "country"}
    %h1
      Conservation dashboard for {{country.name}}

  %div{:class => "section-group controls", "ng-controller" => "StatsBtnCtrl"}
    %div#view-button{:class => "group", "ng-show" => "visible"}
      %button{:class => "transparent", "ng-click" => "showStats()", "ng-show" => "visible"} View Now

    %div#search-field{:class => "group", "ng-class"=>"{full: !visible}"}
      %div{:class => "geo_entities", "ng-controller" => "CountryPickerCtrl"}
        %input{:type=>"text", "ng-model"=>"selected", 'placeholder'=>"Search for another country", "typeahead"=>"country as country.name for country in getCountry($viewValue)"}
        %i.icon-search

  %div{:class => "stats", "ng-controller" => "StatsCtrl", "collapse"=>"isCollapsed" }

    %div{:class => "biodiversity"}
      %div{:class => "section-group"}
        %section{:class => "group stats left"}
          %div{:class => "stat"}
            %header
              %p
                %span Estimated biodiversity loss
                %a{:href => "/dashboard#predicts"}
                  %i.icon-info-sign
            %div{:class => "metrics-container", "ng-controller" => "CartodbStatsCtrl", "ng-model" => "carbo"}
              = image_tag("loading.gif", :class => "spinner", :style => "max-height: 50px; max-width: 50px;", :"ng-show" => "carbo.loading")
              %div.metric.percentage
                %span{:class => "number"} {{carbo.biodiversity_loss}}
                %span{:class => "small"}%
              %div{:class => "bar-container"}
                %div{:class => "bar", "ng-style"=>"{ width: carbo.biodiversity_loss + '%' }"}
          %div{:class => "stat"}
            %header
              %p
                %span Number of protected areas
                %a{:href => "/dashboard#protected-areas"}
                  %i.icon-info-sign
            %div{:class => "metrics-container", "ng-controller" => "PpeStatsCtrl", "ng-model" => "ppe"}
              = image_tag("loading.gif", :class => "spinner", :style => "max-height: 50px; max-width: 50px;", :"ng-show" => "ppe.loading")
              %div{:class => "metric", "ng-show" => "ppe.loaded"}
                %span{:class => "number protected-areas"} {{ppe.protected_areas_count | number}}
                %span{:class => "small protected"} covering {{ppe.percentage_protected}}% of the country
        %section{:class => "group stats right"}
          %div{:class => "stat carbon", "ng-controller" => "CartodbStatsCtrl", "ng-model" => "carbo"}
            %header
              %p
                %span Carbon storage&nbsp;
                %a{:href => "/dashboard#carbon-storage"}
                  %i.icon-info-sign
            %div{:class => "metrics-container carbon"}
              %div.metric
                %p{:class => "subheader"} Carbon stored in above and below ground biomass and soil
                %div{:class => "submetric"}
                  = image_tag("loading.gif", :class => "spinner", :style => "max-height: 50px; max-width: 50px;", :"ng-show" => "carbo.loading")
                  %span{:class => "number", "ng-show" => "carbo.loaded"} {{carbo.carbon_sums | number}}
                  %span{:class => "small"} Mt
            %div{:class => "metrics-container carbon"}
              %div.metric
                %p{:class => "subheader"} Carbon stored in protected areas
                %div{:class => "submetric"}
                  = image_tag("loading.gif", :class => "spinner", :style => "max-height: 50px; max-width: 50px;", :"ng-show" => "carbo.loading")
                  %div.metric.percentage
                    %span{:class => "number"} {{carbo.carbon_pas}}
                    %span{:class => "small"}%
                  %div{:class => "bar-container"}
                    %div{:class => "bar", "ng-style"=>"{ width: carbo.carbon_pas + '%' }"}

      %div{:class => "section-group", "ng-controller" => "SapiStatsCtrl", "ng-model" => "sapi"}

        %section{:class => "group stats left"}
          %div{:class => "stat sapi"}
            %header{}
              %p
                %span {{sapi.trade_title}}
                %a{:href => "/dashboard#species-trades"}
                  %i.icon-info-sign.toggle
              %p  
                %span{:class => "infotext"}
                  {{sapi.trade_info}}
              %div.info-link-small
                %span{:class => "option-selector", "ng-click" => "toggleTrade()"} {{sapi.trade_selector}}
            = image_tag("loading.gif", :class => "spinner", :style => "max-height: 50px; max-width: 50px;", :"ng-show" => "sapi.loading")
            %div{"ng-show" => "sapi.trade_export"}
              %p.no-results{"ng-show" => "!sapi.trade_exports_top_data.length"}
                No results
              %table
                %tr.species-container{'ng-repeat' => "t in sapi.trade_exports_top_data", "ng-show" => "sapi.loaded"}
                  %td.counter-container
                    %div{:class => "counter list-{{$index}}"} {{$index + 1}}
                  %td{:class => "ranking"}
                    %p.common-name {{t.common_name_en || t.name}}
                    %p.scientific-name {{t.name}}
                    %p.species-count-small {{t.count | number}}
                  %td.species-count
                    %span {{t.count | number}}
                
            %div{"ng-show" => "sapi.trade_import"}
              %p.no-results{"ng-show" => "!sapi.trade_imports_top_data.length"}
                No results
              %table
                %tr.species-container{'ng-repeat' => "t in sapi.trade_imports_top_data", "ng-show" => "sapi.loaded"}
                  %td.counter-container
                    %div{:class => "counter list-{{$index}}"} {{$index + 1}}
                  %td{:class => "ranking"}
                    %p.common-name {{t.common_name_en || t.name}}
                    %p.scientific-name {{t.name}}
                    %p.species-count-small {{t.count | number}}
                  %td.species-count
                    %span {{t.count | number}}


        %section{:class => "group stats right"}
          %div{:class => "stat sapi"}
            %header{}
              %p
                %span {{sapi.species_title}}
                %a{:href => "/dashboard#species-lists"}
                  %i.icon-info-sign.toggle
                %p  
                  %span{:class => "infotext"}
                    {{sapi.species_info}}
              %div.info-link-small
                %span{:class => "option-selector", "ng-click" => "toggleSpecies()"} {{sapi.species_selector}}
            = image_tag("loading.gif", :class => "spinner", :style => "max-height: 50px; max-width: 50px;", :"ng-show" => "sapi.loading")
            %div{"ng-show" => "sapi.species_cites"}
              %p.no-results{"ng-show" => "!sapi.trade_imports_top_data.length"}
                No results            
              %table
                %tr.species-container{'ng-repeat' => "group in sapi.species_cites_data", "ng-show" => "sapi.loaded"}
                  %td.counter-container
                    %div{:class => "counter list-{{$index}}"} {{$index + 1}}
                  %td{:class => "ranking cites-cms"}
                    %p.common-name {{group[0]}}
                    %p.species-count-small {{group[1] | number}}
                  %td.species-count
                    %span {{group[1] | number}}
            %div{"ng-show" => "sapi.species_cms"}
              %p.no-results{"ng-show" => "!sapi.trade_imports_top_data.length"}
                No results
              %table
                %tr.species-container{'ng-repeat' => "group in sapi.species_cms_data", "ng-show" => "sapi.loaded"}
                  %td.counter-container
                    %div{:class => "counter list-{{$index}}"} {{$index + 1}}
                  %td{:class => "ranking cites-cms"}
                    %p.common-name {{group[0]}}
                    %p.species-count-small {{group[1] | number}}
                  %td.species-count
                    %span {{group[1] | number}}
