.page-header
  = link_to "Add featured project", new_admin_featured_project_path, :class => 'btn pull-right'
  %h2 Featured projects

= render 'admin/cms/partials/pages_before'

= comfy_form_for @page, :as => :page, url: admin_featured_project_path(@page), :html => {:multipart => true} do |form|
  = render form

%ul.list.sortable
  = render :partial => 'index_branch', :collection => @pages

= render 'admin/cms/partials/pages_after'
