- if cms_block_content(:"recent_project_1_title").present?
  %h2 Recent work by #{cms_block_content(:name)}

- (1..3).each do |i|
  - if cms_block_content(:"recent_project_#{i}_title").present?
    %section.list
      %h2.project
        - if cms_block_content(:"recent_project_#{i}_link").present?
          = link_to cms_block_content(:"recent_project_#{i}_title"), cms_block_content(:"recent_project_#{i}_link")
        - else
          = cms_block_content(:"recent_project_#{i}_title")
        %span.separator= '|'
        %span.project_role
          = cms_block_content(:"recent_project_#{i}_role")
      %p= cms_block_content_render(:"recent_project_#{i}_content")
