<div class="column-1-3 wide">
  <ul class="subnav flex--2-cols">
    <li class="subnav__li flex--2-cols__child">
      <%= active_subnav_link_to "Home", "/wcmc", "wcmc", "", { class: "subnav__a" } %>
    </li>
    <li class="subnav__li flex--2-cols__child">
      <%= active_subnav_link_to "Trustees and Governance", "/wcmc/trustees-and-governance", "wcmc", "trustees-and-governance", { class: "subnav__a" } %>
    </li>
    <li class="subnav__li flex--2-cols__child">
      <%= active_subnav_link_to "Annual Reports", "/wcmc/annual-reports", "wcmc", "annual-reports", { class: "subnav__a" } %>
    </li>
    <li class="subnav__li flex--2-cols__child">
      <%= active_subnav_link_to "Vacancies", "/wcmc/vacancies", "wcmc", "vacancies", { class: "subnav__a" } %>
    </li>
    <li class="subnav__li flex--2-cols__child">
      <%= active_subnav_link_to "Contact", "/wcmc/contact", "wcmc", "contact", { class: "subnav__a" } %>
    </li>
    <li class="subnav__li flex--2-cols__child">
      <%= active_subnav_link_to "Terms and Conditions", "/wcmc/terms-and-conditions", "wcmc", "terms-and-conditions", { class: "subnav__a" } %>
    </li>
  </ul>
</div>