.container{"ng-app" => "DatasetsResources", "ng-controller" => "DatasetsCtrl", "ng-init" => "init(#{render partial: "datasets/list", formats: :json},  #{render partial: "datasets/dataset_url_fields", formats: :json}, #{render partial: "datasets/dataset_file_fields", formats: :json})"}
  #data-small.column-1-3
    .search-field
      %input.search_input{"ng-change" => "search()", "ng-model" => "query", :placeholder => "Search resources or datasets", :type => "text"}
      .icon_search
        %i.icon-search
    %button.data
      Type of content
      %i.icon-caret-down
    %ul#content-small
      %li.content_type{"ng-show" => "contentType.count > 0", "ng-class" => "{active: contentType.selected && contentType.count > 0}", "ng-click" => "toggleContentType()", "ng-repeat" => "contentType in contentTypes"}
        %span.badge {{ contentType.count }}
        %p {{ contentType.plural }}
    %select#sorting{"ng-change" => "sortDatesets()", "ng-model" => "sortOrder", "ng-options" => "order.value as order.name for order in sortOrders"}
    .button.margin.policies
      %a{:href => "/policies"} View our policies
    .button.margin.bhl
      %a{:href => "http://www.biodiversitylibrary.org/search?searchTerm=WCMC#/titles"} Search WCMC's historical publications
    
  #data.column-1-3
    .search-field
      %input.short{"ng-change" => "search()", "ng-model" => "query", :placeholder => "Search resources or datasets", :type => "text"}
      .icon_search
        %i.icon-search
    %ul#content
      %li.header
        Type of content
      %li.content_type{"ng-show" => "contentType.count > 0", "ng-class" => "{active: contentType.selected && contentType.count > 0}", "ng-click" => "toggleContentType()", "ng-repeat" => "contentType in contentTypes"}
        %span.badge {{ contentType.count }}
        %p {{ contentType.plural }}
    %select#sorting{"ng-change" => "sortDatesets()", "ng-model" => "sortOrder", "ng-options" => "order.value as order.name for order in sortOrders"}
    .info-message
      %h1 Policies
      %p UNEP-WCMC does not assert any intellectual property rights in the data made available to it by data providers.
      %p Access to UNEP-WCMC datasets is provided on the understanding that you read and consent to be bound by the Terms and Conditions set out in our policies.
      %a{:href => "/policies"} View our policies
    %section.actions#search-button
      %h1 Biodiversity Heritage Library
      .button.bhl
        %a{:href => "http://www.biodiversitylibrary.org/search?searchTerm=WCMC#/titles"} Search WCMC's historical publications

  #data.column-2-3
    %h1
      Resources &amp; data
    %div.filters
      %p 
        Searching for
        %span.active-filter 
          %i.icon-remove
          Grasslands report 2013
      %p 
        Displaying
        %span.active-filter 
          %i.icon-remove
          Reports
        %span.active-filter 
          %i.icon-remove
          Journals

    %section.list{"ng-repeat" => "dataset in datasetsToBeDisplayed"}      

      %h2.smaller{:id => "{{ dataset.slug }}" }
        {{ dataset.title }}
      %h3.data
        {{ dataset.content_type }}
        %span{"ng-if" => "dataset.publication_date_year != ''"}
          %span.separator= '|'
          {{ dataset.publication_date_year }}
        %span{"ng-if" => "dataset.publication_date_year=='' && dataset.content_type != 'Online Tool'"}
          %span.separator= '|'
          {{ dataset.publication_date | date: 'MMMM yyyy' }}
      %h3.author{ "ng-if" => "dataset.author" }
        Author: {{ dataset.author }}
      %h3.isbn{ "ng-if" => "dataset.isbn" }
        ISBN: {{ dataset.isbn }}
      %p{"ng-bind-html" => "dataset.content"}
      %p.link
        %a{:href => "{{dataset.first_link}}"} {{dataset.first_link_label}}
      %p.link
        %a{:href => "{{dataset.second_link}}"} {{dataset.second_link_label}}
      %p.link{ 'ng-show' => 'dataset.file_url' }
        %a{:href => "{{dataset.file_url}}" } Download

      %p.link{ "ng-repeat" => "field in urlFieldsForDataset( dataset.id ) " }
        %a{:href => "{{field.url}}"}
          {{ field.label }}

      %p.link{ "ng-repeat" => "file in fileFieldsForDataset( dataset.id ) " }
        %a{:href => "{{file.url}}"}
          {{ file.label }}
    
    %h2.smaller{"ng-if" => "datasetsToBeDisplayed.length == 0"} No data found.
    #button-row{"ng-if" => "hiddenDatasets.length > 0"}
      #more_projects.button{"ng-click" => "showMore()"}
        %a{:href => ""} View more resources
