- content_for :right_column do
  #form-save.box
    %label.checkbox.inline
      %input{:type => 'checkbox'}
      = ::Cms::Page.human_attribute_name(:is_published)
    %button.btn.btn-small.btn-primary.pull-right
  = render :partial => 'admin/cms/files/index'

= render 'admin/cms/partials/page_form_before', :object => form

= form.text_field :label, :data => {:slugify => @page.new_record?}

- unless @site.pages.count == 0 || @site.pages.root == @page
  = form.text_field :slug, :data => {:slug => true}
  - unless @page.new_record?
    = form.text_field :full_path, :id => 'full-path', :disabled => true

= render 'admin/cms/partials/page_form_inner', :object => form

= render :partial => 'admin/cms/categories/form', :object => form

= render :partial => 'form_blocks'

- unless @page == @site.pages.root
  .control-group
    %label.control-label Programme
    .controls
      = select_tag "programme[id]", options_from_collection_for_select(@programmes, :id, :name, @employment.try(:programme_id))

  .control-group
    %label.control-label Position
    .controls
      = text_field_tag "programme[role]", @employment.try(:role)

= form.check_box :is_published, :label => "Published"

= render 'admin/cms/partials/page_form_after', :object => form

.form-actions
  = form.submit "Preview", :name => 'preview', :id => nil, :class => 'btn'
  = form.submit "Update", :class => 'btn btn-primary'
