.page-header
  = link_to "Add employee", new_admin_employee_path, :class => 'btn btn-default pull-right'
  %h2 Employees

= comfy_form_for @page, :as => :page, url: admin_employee_path(@page), :html => {:multipart => true} do |form|
  = render form

= render 'comfy/admin/cms/partials/pages_before'


%div{ "ng-app" => "SearchableList"}
  %input{:type => "text", "ng-model" => "pattern", :placeholder => "Search Employees"}
    - Programme.order("name ASC").includes(employments: :employee).each do |programme|
      %h4= programme.name
      %ul.list.sortable.ui-sortable
        = render :partial => 'index_branch', :collection => programme.employments.map(&:employee).sort_by(&:position)

= render 'comfy/admin/cms/partials/pages_after'
