.page-header
  = link_to 'New Employee', new_admin_employee_path, :class => 'btn pull-right'
  %h2= 'Employees'

= paginate @employees

%table.table.table-hover.table-bordered
  %tr
    %th Name
    %th Actions
  - @employees.each do |employee|
    %tr
      %td= employee.name
      %td
        .btn-group
          = link_to 'Edit', edit_admin_employee_path(employee), :class => 'btn btn-small'
          = link_to 'Delete', admin_employee_path(employee), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-small btn-danger'

= paginate @employees
