- programme = Programme.where(id: cms_block_content(:programme)).first
%h1= "Work by #{programme.try(:name)}"

- (1..2).each do |i|
  - if cms_block_content(:"related_project_#{i}_title").present?
    %section
      %h2.related-project
        - if cms_block_content(:"related_project_#{i}_link").present?
          = link_to cms_block_content(:"related_project_#{i}_title"), cms_block_content(:"related_project_#{i}_link")
        - else
          %a
            = cms_block_content(:"related_project_#{i}_title")
      %p= cms_block_content_render(:"related_project_#{i}_content")
