- (1..3).each do |i|
  - if cms_page_content(:"related_project_#{i}_title").present?
    %section
      %h3
        - if cms_page_content(:"related_project_#{i}_link").present?
          = link_to cms_page_content(:"related_project_#{i}_title"), cms_page_content(:"related_project_#{i}_link")
        - else
          %a
            = cms_page_content(:"related_project_#{i}_title")
      %p= cms_page_content(:"related_project_#{i}_content")
