%h1= "Work by #{cms_page_content(:programme)}"

- (1..2).each do |i|
  - if cms_page_content(:"related_project_#{i}_title").present?
    %section
      %h2.related-project
        - if cms_page_content(:"related_project_#{i}_link").present?
          = link_to cms_page_content(:"related_project_#{i}_title"), cms_page_content(:"related_project_#{i}_link")
        - else
          %a
            = cms_page_content(:"related_project_#{i}_title")
      %p= cms_page_content(:"related_project_#{i}_content")
