%li= active_link_to "Featured Projects", admin_featured_projects_path

%li= active_link_to 'Employees', admin_employees_path

%li= active_link_to 'News', admin_news_items_path

%li= active_link_to 'Programmes', admin_programmes_path

%li= active_link_to 'Resources and Datasets', admin_datasets_path

%li= active_link_to 'Vacancies', admin_vacancies_path

%li= active_link_to 'Policies', admin_policies_path

- if current_user.is_superadmin
  %li= active_link_to 'Manage users', admin_users_path

%li= active_link_to 'Change password', edit_user_registration_path

%li= link_to 'Sign out', destroy_user_session_path, method: :delete
