%a.button--back{ :href => @form.vacancy.url }
  Back to Vacancy
%h1#first= @form.vacancy.label
= render 'errors'
= form_for [@form, @submission], html: {multipart: true} do |f|
  %section
    %h2 Personal Details
    = f.text_field :name, :placeholder => "Full name"
    = f.text_field :email, :placeholder => "Email"
    = f.text_field :phone, :placeholder => "Phone number"
  %section
    %h2 Are you eligible to work in the UK?
    = f.fields_for :content, @submission.content do |ff|
      %p
        %label
          = ff.radio_button :uk_working_ability, true
          Yes
      %p
        %label
          = ff.radio_button :uk_working_ability, false
          No
      %p
        %strong If no, please provide us with any other information relating to your eligibility to work in the UK.:
        = ff.text_area :uk_working_ability_details
  %section
    %h2 CV and cover letter
    %p
      %i.icon-upload-alt
      Upload your CV
    = f.file_field :cv
    - if @submission.cv.present?
      = link_to(@submission.cv_file_name, @submission.cv.url)
    %p
      %i.icon-upload-alt
      Upload your cover letter
    = f.file_field :cover_letter
    - if @submission.cover_letter.present?
      = link_to(@submission.cover_letter_file_name, @submission.cover_letter.url)
    %p
      %i.icon-upload-alt
      Upload your application form
    = f.file_field :application_form
    - if @submission.application_form.present?
      = link_to(@submission.application_form_file_name, @submission.application_form.url)
  - practical_question = cms_block_content(:practical_question_explanation, @form.vacancy)
  - if practical_question.present?
    %section
      %h2 Practical Question
      %p= cms_block_content(:practical_question_explanation, @form.vacancy)
      - if @form.attachments.count > 0
        %h3 Attachments
        - @form.attachments.each do |attachment|
          %p= link_to attachment.name, attachment.file.url
      = f.fields_for :field_submissions do |ff|
        = ff.hidden_field :type
        = ff.hidden_field :field_id
        = ff.hidden_field :id
        = render ff.object.class.name.underscore, f: ff
  %section
    %h2 Employment Conditions
    = f.fields_for :content, @submission.content do |ff|
      = ff.text_field :last_salary, :placeholder => "Current or last salary"
      = ff.text_field :benefits, :placeholder => "Current benefits"
      = ff.text_field :interview_availability, :placeholder => "Availability for an interview"
      = ff.text_field :notice_period, :placeholder => "Notice period"
  %section
    %h2 How did you hear about us?
    = f.fields_for :content, @submission.content do |ff|
      - Submission::REFERENCE_SOURCES.each do |reference|
        %p{ :class => ('radio-state' if reference[:details])}
          %label
            = ff.radio_button :reference, reference[:value]
            = reference[:value]
        - if reference[:details]
          = ff.text_field "reference_details[#{reference[:value]}]", class: "state", placeholder: reference[:details], value: @submission.content.reference == reference[:value] ? @submission.content.reference_details : ""

  = f.submit "Submit the application", name: "submit"
  = f.submit "Save and edit later", name: "save"
