.container#application-page
  #job-application.column-2-3.left
    %a.button--back{ href: @form.vacancy.url }
      %i.icon-chevron-left
      Back to Vacancy
    %h1#first= @form.vacancy.label
    %section
      %h2 Personal Details
      %h3 Full name
      %p= @submission.name
      %h3 Email
      %p= @submission.email
      %h3 Phone number
      %p= @submission.phone
    %section
      %h2 Ability to work in the UK
      %p= @submission.content.uk_working_ability == "true" ? 'Confirmed' : 'Not confirmed'
      - if @submission.content.uk_working_ability == "false"
        %p
          %strong Details
        %p= @submission.content.uk_working_ability_details
    %section
      %h2 CV and cover letter
      %h3 CV
      - if @submission.cv.present?
        = link_to(@submission.cv_file_name, @submission.cv.url)
      %h3 Cover letter
      - if @submission.cover_letter.present?
        = link_to(@submission.cover_letter_file_name, @submission.cover_letter.url)
      %h3 Personal details form
      - if @submission.personal_details_form.present?
        = link_to(@submission.personal_details_form_file_name, @submission.personal_details_form.url)
      %h3 Application form
      - if @submission.application_form.present?
        = link_to(@submission.application_form_file_name, @submission.application_form.url)
    %section
      %h2 Practical Question
      %p= cms_block_content(:practical_question_explanation, @form.vacancy)
      - @submission.field_submissions.each do |field|
        %h3= field.name
        - if field.type == 'FileFieldSubmission' && field.file.present?
          = link_to(field.file_file_name, field.file.url)
        - else
          %p= field.content
    %section
      %h2 Employment Conditions
      %h3 Current or last salary
      %p= @submission.content.last_salary
      %h3 Current benefits
      %p= @submission.content.benefits
      %h3 Availability for an interview
      %p= @submission.content.interview_availability
      %h3 Notice period
      %p= @submission.content.notice_period
    %section
      %h2 How did you hear about us?
      %p= @submission.content.reference.to_s + (@submission.content.reference_details ? " - #{@submission.content.reference_details}" : "")




