%p
  A job application has been received for the vacancy #{link_to @vacancy.label, "https://#{@host}/vacancies/#{@vacancy.slug}"}.
  %br
  You can review the application through #{link_to 'this link', form_submission_url(@form, @submission)}.

%p Here are the details of the application:

%p
  %strong Personal Details

%p
  Full name:
  = @submission.name
  %br
  Email:
  = @submission.email
  %br
  Phone number
  = @submission.phone


%p
  %strong CV and cover letter
%p Download Zip
= link_to(@submission.name, "https://#{@host}#{download_application_zip_path(@submission)}")

%p
  %strong Employment Conditions
%p Current or last salary
%p= @submission.content.last_salary
%p Current benefits
%p= @submission.content.benefits
%p Availability for an interview
%p= @submission.content.interview_availability
%p Notice period
%p= @submission.content.notice_period

%p
  %strong How did you hear about us?
%p= @submission.content.reference.to_s + (@submission.content.reference_details ? " - #{@submission.content.reference_details}" : "")
