.page-header
  = link_to "Add policy", new_admin_policy_path, :class => 'btn btn-default pull-right'
  %h2 Policies

= comfy_form_for @page, :as => :page, url: admin_policy_path(@page), :html => {:multipart => true} do |form|
  = render form

= render 'comfy/admin/cms/partials/pages_before'

%ul.list
  = render :partial => 'index_branch', :collection => @pages, :editions => @editions

= render 'comfy/admin/cms/partials/pages_after'
