- expertise_root = @cms_page.slug == "expertise" ? @cms_page : Cms::Page.find_by_slug("expertise")
- first_page = expertise_root.children.first
- second_page = expertise_root.children.offset(1).first

.column-1-3.wide
  %ul.subnav
    - expertise_root.children.each do |page|
      %li.header= cms_page_content(:title, page)
      %ul.expertise
        - page.children.each do |subpage|
          = render partial: "expertise/nav_link", locals: {page: subpage}

  %ul.subnav-small#areas
    %li.header#strengthen-button
      = cms_page_content(:title, first_page)
      %i.icon-chevron-down
    %ul.expertise-small#strengthen
      - first_page.children.each do |subpage|
        = render partial: "expertise/nav_link", locals: {page: subpage}
    %li.header#specialise-button
      = cms_page_content(:title, second_page)
      %i.icon-chevron-down
    %ul.expertise-small#specialise
      - second_page.children.each do |subpage|
        = render partial: "expertise/nav_link", locals: {page: subpage}
