- first_page = @cms_site.pages.root.children.first
- second_page = @cms_site.pages.root.children.offset(1).first

.column-1-3.wide
  %ul.subnav
    - @cms_site.pages.root.children.each do |page|
      %li.header= cms_block_content(:title, page)
      %ul.expertise
        - page.children.each do |subpage|
          = render partial: "expertise/nav_link", locals: {page: subpage}

  %ul.subnav-small#areas
    %li.header#strengthen-button
      = cms_block_content(:title, first_page)
      %i.icon-chevron-down
    %ul.expertise-small#strengthen
      - first_page.children.each do |subpage|
        = render partial: "expertise/nav_link", locals: {page: subpage}
    %li.header#specialise-button
      = cms_block_content(:title, second_page)
      %i.icon-chevron-down
    %ul.expertise-small#specialise
      - second_page.children.each do |subpage|
        = render partial: "expertise/nav_link", locals: {page: subpage}
