<footer class="footer">
  <div class="footer-logo">
    <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017.svg', class: 'logo__image-container__image', alt: 'UN Environment WCMC Logo' %>
  </div>
  <div class="footer-menu">
    <ul class="menu menu--footer">
      <li class="menu__item-footer">
        <%= active_class_link_to "Partners", "/about-us/partners" %>
      </li>
      <li class="menu__item-footer">
        <%= active_class_link_to "Vacancies", "/vacancies" %>
      </li>
      <li class="menu__item-footer">
        <%= active_class_link_to "The Team", "/employees" %>
      </li>
      <li class="menu__item-footer">
        <%= active_class_link_to "Contact", "/about-us/contact" %>
      </li>
      <li class="menu__item-footer">
        <%= active_class_link_to "Terms & Conditions", "/terms-and-conditions" %>
      </li>
    </ul>
  </div>
  <div class="footer-social">
    <span class="social-link__text">Connect with us</span>
    <a class="social-link" href="https://www.facebook.com/unepwcmc/" target="_blank">
      <%= fa_stacked_icon "facebook inverse", base: "square", class: "fa-1x" %>
    </a>
    <a class="social-link" href="http://twitter.com/unepwcmc" target="_blank">
      <%= fa_stacked_icon "twitter inverse", base: "square", class: "fa-1x" %>
    </a>
    <a class="social-link" href="https://www.linkedin.com/company/unep-wcmc" target="_blank">
      <%= fa_stacked_icon "linkedin inverse", base: "square", class: "fa-1x" %>
    </a>
    <a class="social-link" href="https://www.youtube.com/channel/UCNdvgU-8_cKxqY2v2PEEhqg" target="_blank">
      <%= fa_stacked_icon "youtube inverse", base: "square", class: "fa-1x social-link__youtube" %>
    </a>
  </div>
</footer>

<div class="footer-transparent"></div>
