<footer class="footer">
  <div class="footer-logo">
    <div class="logo">
      <div class="logo__image-container">
        <%= image_tag 'unepwcmc.png', class: 'logo__image-container__image' %>
      </div>
      <div class="logo__text">
        United Nations Environment Programme<br>
        World Conservation Monitoring Centre
      </div>
    </div>
  </div>
  <div class="footer-menu">
    <ul class="menu">
      <li class="menu__item">
        <%= active_link_to "Partners", "/about-us/partners" %>
      </li>
      <li class="menu__item">
        <%= active_link_to "Vacancies", "/vacancies" %>
      </li>
      <li class="menu__item">
        <%= active_link_to "The Team", "/employees" %>
      </li>
      <li class="menu__item">
        <%= active_link_to "Contact", "/about-us/contact" %>
      </li>
      <li class="menu__item">
        <%= active_link_to "Terms & Conditions", "/terms-and-conditions" %>
      </li>
    </ul>
  </div>
  <div class="footer-social">
    <div class="social-link">
      <%= fa_stacked_icon "facebook inverse", base: "square", class: "fa-1x" %>
      <span class="social-link__text">Facebook</span>
    </div>
    <div class="social-link">
      <%= fa_stacked_icon "twitter inverse", base: "square", class: "fa-1x" %>
      <span class="social-link__text">Twitter</span>
    </div>
    <div class="social-link">
      <%= fa_stacked_icon "linkedin inverse", base: "square", class: "fa-1x" %>
      <span class="social-link__text">LinkedIn</span>
    </div>
  </div>
  <div class="footer-image">
  </div>
</footer>
