<header class="header">
  <div class="header-social-bar">
    <div class="header-social-bar__container">
      <div class="social-group">
        <span class="social-link__text">Connect with us</span>
        <a class="social-link" title="Follow UN Environment World Conservation Monitoring Centre on Facebook" href="https://www.facebook.com/unepwcmc/" target="_blank">
          <%= fa_stacked_icon "facebook inverse", base: "square", class: "fa-1x" %>
        </a>
        <a class="social-link" title="Follow UN Environment World Conservation Monitoring Centre on Twitter" href="http://twitter.com/unepwcmc" target="_blank">
          <%= fa_stacked_icon "twitter inverse", base: "square", class: "fa-1x" %>
        </a>
        <a class="social-link" title="Follow UN Environment World Conservation Monitoring Centre on LinkedIn" href="https://www.linkedin.com/company/unep-wcmc" target="_blank">
          <%= fa_stacked_icon "linkedin inverse", base: "square", class: "fa-1x" %>
        </a>
        <a class="social-link" title="Follow UN Environment World Conservation Monitoring Centre on YouTube" href="https://www.youtube.com/channel/UCNdvgU-8_cKxqY2v2PEEhqg" target="_blank">
          <%= fa_stacked_icon "youtube inverse", base: "square", class: "fa-1x" %>
        </a>
      </div>
    </div>
  </div>
  
  <div class="header__menu-bar">
    <a href="/" class="header__logo">
      <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017.svg', alt: 'UN Environment WCMC Logo', class: 'header__logo-img' %>
    </a>
  
    <a href="" class="header__nav-button button js-menu--trigger">Menu</a>
    
    <nav class="header__menus js-menu--target js-menu--hide">
      <ul class="menu menu--primary menu--bold">
        <li class="menu__item">
          <%= active_class_link_to "Our expertise", "/expertise", { class: "menu__item-link" } %>
        </li>
        <li class="menu__item">
          <%= active_class_link_to "News", "/news", { class: "menu__item-link" } %>
        </li>
        <li class="menu__item">
          <%= active_class_link_to "Featured work", "/featured-projects", { class: "menu__item-link" } %>
        </li>
        <li class="menu__item">
          <%= active_class_link_to "Resources & Data", "/resources-and-data", { class: "menu__item-link" } %>
        </li>
        <li class="menu__item">
          <%= active_class_link_to "About us", "/about-us", { class: "menu__item-link" } %>
        </li>
      </ul>
      <ul class="menu menu--secondary">
        <li class="menu__item">
          <%= active_class_link_to "Partners", "/about-us/partners", { class: "menu__item-link" } %>
        </li>
        <li class="menu__item">
          <%= active_class_link_to "Vacancies", "/vacancies", { class: "menu__item-link" } %>
        </li>
        <li class="menu__item">
          <%= active_class_link_to "The Team", "/employees", { class: "menu__item-link" } %>
        </li>
        <li class="menu__item">
          <%= active_class_link_to "Contact", "/about-us/contact", { class: "menu__item-link" } %>
        </li>
      </ul>
    </nav>
  </div>
</header>