<div class="logo hidden-tablet-down">
  <div class="logo__image-container">
    <%= image_tag 'unepwcmc_new.png', class: 'logo__image-container__image' %>
  </div>
</div>
<ul class="menu menu--collapsable">
  <div class="menu__top-bar">
    <li class="menu__logo">
      <%= image_tag 'unepwcmc_new.png' %>
    </li>
    <li class="menu__toggle">
      <%= fa_icon 'bars 2x' %>
    </li>
  </div>
  <li class="menu__item">
    <%= active_class_link_to "Partners", "/about-us/partners" %>
  </li>
  <li class="menu__item">
    <%= active_class_link_to "Vacancies", "/vacancies" %>
  </li>
  <li class="menu__item">
    <%= active_class_link_to "The Team", "/employees" %>
  </li>
  <li class="menu__item">
    <%= active_class_link_to "Contact", "/about-us/contact" %>
  </li>
  <li class="menu__item">
    <%= active_class_link_to "Terms & Conditions", "/terms-and-conditions" %>
  </li>
</ul>

<ul class="menu">
  <li class="menu__item">
    <%= active_class_link_to "The Team", "/employees" %>
  </li>
  <li class="menu__item">
    <%= active_class_link_to "Contact", "/about-us/contact" %>
  </li>
  <li class="menu__item">
    <%= active_class_link_to "Terms & Conditions", "/terms-and-conditions" %>
  </li>
</ul>
