<header>
  <div class="header-social-bar">
    <div class="header-social-bar__container">
      <div class="social-group">
        <a class="social-link" href="http://twitter.com/unepwcmc" target="_blank">
          <%= fa_stacked_icon "twitter inverse", base: "square", class: "fa-1x" %>
          <span class="social-link__text">Follow us</span>
        </a>
        <a class="social-link" href="https://www.linkedin.com/company/unep-wcmc" target="_blank">
          <%= fa_stacked_icon "linkedin inverse", base: "square", class: "fa-1x" %>
          <span class="social-link__text">Connect with us</span>
        </a>
      </div>
    </div>
  </div>

  <nav class="header-menu">
    <div class="header-menu__container">
      <div class="header-menu__left">
        <div class="header__logo">
          <%= image_tag 'unepwcmc_new.png' %>
        </div>
      </div>
      <div class="header-menu__right">
        <ul class="menu menu--skinny">
          <li class="menu__item">
            <%= active_class_link_to "Partners", "/about-us/partners" %>
          </li>
          <li class="menu__item">
            <%= active_class_link_to "Vacancies", "/vacancies" %>
          </li>
          <li class="menu__item">
            <%= active_class_link_to "The Team", "/employees" %>
          </li>
          <li class="menu__item">
            <%= active_class_link_to "Contact", "/about-us/contact" %>
          </li>
        </ul>
        <ul class="menu menu--skinny menu--bold">
          <li class="menu__item">
            <%= active_class_link_to "Our expertise", "/expertise" %>
          </li>
          <li class="menu__item">
            <%= active_class_link_to "Featured work", "/featured-projects" %>
          </li>
          <li class="menu__item">
            <%= active_class_link_to "Resources & Data", "/resources-and-data" %>
          </li>
          <li class="menu__item">
            <%= active_class_link_to "About us", "/about-us" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
