<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" p content="width=device-width,initial-scale=1.0">
		<title>Welcome to UNEP-WCMC</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="//use.typekit.net/tqb5win.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= javascript_include_tag "pages/application.js" %>
    <%= stylesheet_link_tag "base", media: "screen" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "medium", media: "only screen and (min-width: 700px)" %>
    <%= stylesheet_link_tag "large", media: "screen and (min-width: 1000px)" %>
    <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="nav">
      <a id="home_link" href="/" title="Home"><%= image_tag "logo_white_transparent.png" %></a>
      <ul id="large-menu">
        <li><a href="/about-us" title="About us">About us</a></li>
        <li><a href="/resources-and-data" title="Resources &amp; Data">Resources &amp; Data</a></li>
        <li><a href="/featured-projects" title="Featured Projects">Featured Projects</a></li>				
        <li><a href="/expertise" title="Expertise">Expertise</a></li>								
      </ul>
      <button id="trigger-menu"><i class="icon-align-justify"></i></button>
      <ul id="button-menu">
        <li><a href="/expertise" title="Expertise">Expertise</a></li>								
        <li><a href="/featured-projects" title="Featured Projects">Featured Projects</a></li>				
        <li><a href="/resources-and-data" title="Resources &amp; Data">Resources &amp; Data</a></li>
        <li><a href="/about-us" title="About us">About us</a></li>
      </ul>
		</div>

    <%= yield %>

		<div id="footer_container">
			<ul class="footer">
				<li><a href="partners.html" title="Partners">Partners</a></li>
				<li><a href="vacancies.html" title="Vacancies">Vacancies</a></li>
				<li><a href="staff.html" title="The Team">The Team</a></li>
    		<li><a href="contact.html#contact-page" title="Contact">Contact</a></li>	
			</ul>
		</div>
  </body>
</html>
