!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :p => true, :content => "width=device-width,initial-scale=1.0" }
    %title Welcome to UNEP-WCMC
    %link{ :href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Lato:300,400,700', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => 'http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', :rel => "stylesheet" }
    %script{ :type => "text/javascript", :src => "//use.typekit.net/tqb5win.js" }
    %script{ :type => "text/javascript" }
      try {Typekit.load();} catch(e){}
    = javascript_include_tag "pages/application.js"
    = stylesheet_link_tag "base", media: "screen"
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "medium", media: "only screen and (min-width: 600px)"
    = stylesheet_link_tag "large", media: "screen and (min-width: 1000px)"
    = csrf_meta_tags

  %body
    #nav-container
      #nav
        %a#home_link{ :href => "/", :title => "Home" }
          = image_tag "logo_white_transparent.png"
        %ul#large-menu
          %li= link_to "About us", "/about-us"
          %li= link_to "Resources & Data", "/resources-and-data"
          %li= link_to "Featured work", "/featured-projects"
          %li= link_to "Our expertise", "/expertise"
        %button#trigger-menu
          %i.icon-align-justify
        %ul#button-menu
          %li= link_to "Our expertise", "/expertise"
          %li= link_to "Featured work", "/featured-projects"
          %li= link_to "Resources & Data", "/resources-and-data"
          %li= link_to "About us", "/about-us"

    - if flash[:success]
      .container.status#ok
        %p
          %i.icon-ok
          = flash[:success]
        %i.icon-chevron-up

    - if flash[:error]
      .container.status#warning
        %p
          %i.icon-warning-sign
          = flash[:error]
        %i.icon-chevron-up

    - if notice
      .container.status#ok
        %p
          %i.icon-ok
          = notice
        %i.icon-chevron-up

    = yield

    #footer_container
      #footer
        %ul.footer
          %li= link_to "Partners", "/partners"
          %li= link_to "Vacancies", "/vacancies"
          %li= link_to "The Team", "/employees"
          %li= link_to "Contact", "/about-us/contact"
        %a#unep{ :href => "http://unep.org", :title => "UNEP" }
          = image_tag "unep_logo.png"
